<section class="p-4 my-5">
    @if (productData != null && categoryData != null) {
       
        <section class="rounded p-4 my-5">
            <div class="myContainer">
                <input [(ngModel)]="searchValue" type="text" class="rounded w-[50%] block mx-auto" placeholder="Search by name ....">
                <h1 class="main-title">All Products</h1>
                <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5">
                    @for (product of productData.slice(0,20) |search : searchValue; track product._id) {
                        <div class="product cursor-pointer p-4 relative">
                            <div>
                                <span (click)="addToWishlist(product._id)"  [class.text-red-600]="isInWishlist(product._id)" class="absolute top-[2px] end-[2px] py-2 px-3 rounded-full hover:text-red-600"><i class="fa-solid fa-heart fa-lg"></i></span>
                            </div>
                            <div [routerLink]="['/product-details' , product._id ]">
                                <div class="mt-4">
                                    <img [src]="product.imageCover" [alt]="product.title">
                                </div>
                                <div class="mt-4">
                                    <h2 class="text-main">{{product.category.name}}</h2>
                                    <h1 class="font-black">{{product.title.split(' ').slice(0,3).join(' ')}}</h1>
                                </div>
                                <div class="flex flex-wrap mt-4 justify-between">
                                    <h3>{{product.price}}</h3>
                                    <span><i class="rating-color fa-solid fa-star"></i> {{product.ratingsAverage}}</span>
                                </div>
                            </div>
                            <div class="mt-4">
                                <button (click)="addToCart(product._id)" class="btn-main block w-3/4 mx-auto">+Add to cart</button>
                            </div>
                        </div>
                    }
                    @defer (on viewport(icon)) {
                        @for (product of productData.slice(20) |search : searchValue; track product._id) {
                            <div class="product cursor-pointer p-4 relative">
                                <div>
                                    <span (click)="addToWishlist(product._id)"  [class.text-red-600]="isInWishlist(product._id)" class="absolute top-[2px] end-[2px] py-2 px-3 rounded-full hover:text-red-600"><i class="fa-solid fa-heart fa-lg"></i></span>
                                </div>
                                <div [routerLink]="['/product-details' , product._id ]">
                                    <div class="mt-4">
                                        <img [src]="product.imageCover" [alt]="product.title">
                                    </div>
                                    <div class="mt-4">
                                        <h2 class="text-main">{{product.category.name}}</h2>
                                        <h1 class="font-black">{{product.title.split(' ').slice(0,3).join(' ')}}</h1>
                                    </div>
                                    <div class="flex flex-wrap mt-4 justify-between">
                                        <h3>{{product.price}}</h3>
                                        <span><i class="rating-color fa-solid fa-star"></i> {{product.ratingsAverage}}</span>
                                    </div>
                                </div>
                                <div class="mt-4">
                                    <button (click)="addToCart(product._id)" class="btn-main block w-3/4 mx-auto">+Add to cart</button>
                                </div>
                            </div>
                        }
                    }@placeholder (minimum 5s) {
                        <div class="flex justify-center">
                            <i #icon class="fa-solid fa-arrow-circle-down text-main fa-2x"></i>
                        </div>
                    }@error {
                        <p class="text-center font-black">oops something went wrong</p>
                    }
                </div>
            </div>
        </section>
    }
</section>