@if (userOrders) {
    <section class="p-4 my-5 bg-slate-100 rounded w-[85%] md:w-2/3 mx-auto shadow-md relative">
        <div class="myContainer">
                @for (order of userOrders; track order.id) {
                    <div class="flex flex-wrap justify-between items-center p-4 border-b-[1px] border-gray-300/60">
                        <div class="w-full md:w-1/2">
                            <h1 class="font-black my-3"> <span class="text-main">Order_ID:</span> {{order._id}}</h1>
                        </div>
                       @for (item of order.cartItems; track item._id) {
                        <div class="myContainer flex justify-between items-center my-3">
                            <div class="w-full md:w-1/5">
                                <div>
                                    <img [src]="item.product.imageCover" [alt]="item.product.title" class="w-full object-contain">
                                </div>
                            </div>
                            <div class="w-full md:w-2/5">
                                <div>
                                    <h2>{{item.product.title}}</h2>
                                    <h3 class="text-main">Price : {{item.price}}</h3>
                                </div>
                            </div>
                            <div class="w-full md:w-1/5">
                                <div class="flex items-center justify-center">
                                    <button (click)="addToCart(item.product._id)" class="btn-main block  mx-auto">Buy again</button>
                                </div>
                            </div>
                        </div>
                       }
                    </div>
                }
            </div>
        </section>
}